*{
	margin: 0;
	padding: 0;
}
.navbar img{
	margin-right: 500px;
}
body{
	width: 100vw;
	height: 100vh;
	background-image: url(jj.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.navbar{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 20px 30px;
}
.navbar ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}
a:hover{
	color: aliceblue;

}
a{
	text-decoration: none;
	color: cadetblue;
	font-family: arial black;
}
ul{
	list-style: none;
}
.container{
	background-color: silver;
	opacity: 0.5;
	border:2px;
	margin-top: 0 auto;
	margin: auto;
	width: 1000px;
	height: 200px;
	display: flex;
	justify-content: center;
	padding: 5px;

}
.footer{
	color: white;
	padding: 3px;
	align-items: center;
	justify-content: space-between;
	background-color: purple;
	width: 50%
	height:10px;
}